*
{
 margin:0px;
 padding:0px;
}
html
{
     height:0px;
	 width:0px;
	 overflow-y:scroll;
}
body
{
     overflow-x:hidden;
	 position:absolute;
	 overflow-y:hidden;
	 max-height:800px;
 }


.top
{
  max-width:1360px;
  min-width:1360px;
  padding:100px;
  max-height:300px;
  min-height:300px;
background-image:url(top_back.jpg);
   
}
.top h1
{
  animation-name:h1tag;
  animation-duration:2s;
  animation-iteration-count:1;
   color:rgb(255,205,205);
  font-size:30px;
  text-transform:uppercase;
  font-weight:700;
  position:relative;
  top:100px;
  left:-100px;
}
.top h1 img
{
   position:relative;
   bottom:10px;
}
marquee
{
  background-color:rgb(30,30,30);
  color:rgb(200,220,210);
  word-spacing:3px;
  position:relative;
  top:102px;
  left:-100px;
  min-width:1360px;
  font-weight:600;  
  font-size:16px;
  text-transform:capitalize;
  padding:5px 0px 1px 0px;
}
.teach_info,.dep_info
{
  background-color:rgb(50,50,50);
  color:rgb(240,245,240);
  padding:10px;
  position:relative;
  top:50px;
  left:200px;
  border-radius:5px;
  font-size:18px;
  font-weight:600;
  text-transform:capitalize;
  margin-left:20px;
}
.teach_info:hover
{
  color:rgb(240,245,240);
  padding:15px;
}
.dep_info:hover
{
  color:rgb(240,245,240);
  padding:15px;
}
.content
{
  max-width:1360px;
  min-width:1360px;
  padding:100px;
  background:-moz-linear-gradient(left,rgb(200,220,240),rgb(150,150,150));
  background:-webkit-linear-gradient(left,rgb(200,220,240),rgb(150,150,150));
  background:-o-linear-gradient(left,rgb(200,220,240),rgb(150,150,150));
}
.dis
{
  max-width:600px;
  background-color:rgb(250,250,250);
  box-sizing:border-box;
  padding:20px;
  text-align:justify; 
  border-radius:5px;
  color:rgb(130,130,130);
  font-weight:600;  
}
.right
{
  float:right;
  display:inline-block;
}
.login_button
{
  padding:10px 20px 5px 20px;
  background:-moz-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  background:-webkit-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  background:-o-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  font-size:30px;
  color:white;
  text-transform:uppercase;
  position:relative;
  bottom:180px;
  right:200px;
}
.right img
{
  position:absolute;
  top:490px;
  left:750px;
  animation-name:arrow;
  animation-duration:2s;
  animation-iteration-count:infinite;
}
form
{
  background-color:rgb(250,250,250);
  padding:30px 50px 40px 50px;
  position:relative;
  bottom:280px;
  left:50px;
  border-radius:5px;
  display:none;

}
form legend 
{
  font-size:13px;
  font-weight:700;
  padding-bottom:4px;
  color:rgb(16,110,200);
  text-transform:capitalize;
  border-bottom:thin solid black;
}
form input
{
  padding:5px 0px 5px 3px;
  font-size:18px;
  font-weight:600px;
  color:rgb(100,100,100);
}
form input:focus
{
 border:2px solid orange;
 border-radius:5px;
}
form input:hover
{
 border:2px solid orange;
 border-radius:5px;
}
form button 
{
  padding:5px 10px 3px 10px;
  background:-moz-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  background:-webkit-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  background:-o-linear-gradient(top,rgb(10,120,210),rgb(50,50,50));
  font-size:15px;
  color:white;
  text-transform:uppercase;
  position:relative;
  font-weight:600;
}
form button:hover
{
 top:5px;
}
#login_error
{
  background-color:rgb(200,20,20);
  color:white;
  font-size:13px;
  text-transform:uppercase;
  font-weight:700;
  padding:5px;
  display:none;
}
@keyframes h1tag
 {
   0%
   {
      -webkit-transform:rotatex(0deg);
	  transform:rotatex(0deg);
	  -o-transform:rotatex(0deg);
	  
   }
   50%
     {
	 
      -webkit-transform:rotatex(360deg);
      -o-transform:rotatex(360deg);
	  transform:rotatex(360deg);
   }
	 
	 
	 
 }
 @keyframes arrow
 {
   0%
   {
      left:750px;
	  
   }
   50%
     {
	 
      left:800px;
   }
	 
	 
 }